<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Favorite authors</h1>
    <br />
    <a [routerLink]="['/']">Home</a>
    <br />
    <h3>Edit this author</h3>
    <div>
      <form (submit)="editAuthor(editedAuthor)">
        <label for="name">Name:</label>
        <input
          type="text"
          name="name"
          id="name"
          [(ngModel)]="editedAuthor.name"
        />
        <button (click)="cancel()">CANCEL</button>
        <input type="submit" value="SUBMIT" />
      </form>
    </div>
  </body>
</html>
